<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h3>Đơn đăng ký được chấp thuận</h3>
            <a href="/user/<%= user._id %>" class="btns">Ấn vào đây để quay lại</a>
            <%- include('includes/end.ejs') %>