<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h5>Đơn đăng ký đã được gửi</h5>
            <a href="/" class="btns">Ấn vào đây để quay lại trang tìm kiếm</a>

            <%- include('includes/end.ejs') %>