.forms-control {
    margin: 1rem 0;
  }
  .login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
  }
  .forms-control label,
  .forms-control input,
  .forms-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  
  .forms-control input,
  .forms-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
  }
  
  .forms-control input:focus,
  .forms-control textarea:focus {
    outline-color: #00695c;
  }
  .user-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}